
name: Keep Website Awake

on:
  workflow_dispatch:  # Allow manual trigger from the GitHub UI
  schedule:
    - cron: '*/10 * * * *' # Every 10 minutes

jobs:
  ping-website:
    runs-on: ubuntu-latest

    steps:
    - name: Curl Ping My Website
      run: curl -s -o /dev/null -w "%{http_code}" https://localhost:7069/api/Trading/GetRSI
